#!/usr/bin/env bash
# see # https://github.com/direnv/direnv/wiki/Nix for available options to load nix devshell

# https://github.com/nix-community/nix-direnv
if ! has nix_direnv_version || ! nix_direnv_version 3.1.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.1/direnvrc" "sha256-p+fzQdrms/hDa7g+soShAybJNo4bN4SIAeSfqNKgD5I="
fi

export DIRENV_IN_ENVRC=1

# watch_dir modules

if ! use flake . --no-pure-eval; then
  echo "devshell could not be built. The devshell environment was not loaded. Make the necessary changes and hit enter to try again." >&2
fi
